= simple_form_for([@organization, @multimap]) do |f|
  = f.input :name
  = f.input :slug, placeholder: 'Leave blank to autogenerate based on name'
  = f.input :active
  = f.input :description

  = link_to [@organization, @multimap], class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Cancel
  = f.button :submit, class: 'btn btn-primary pull-right'
