- content_for :title do
  = @multimap.title
- content_for :side_menu do
  = render 'help'
- content_for :breadcrumb do
  %li
    = link_to @organization, @organization
  %li.active
    = @multimap

.panel.panel-default
  %nav.navbar.navbar-default.navbar-static-top{ style: 'margin-bottom: 0px;' }
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar' }}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Grouped map: #{@multimap.title}", [@organization, @multimap], class: 'navbar-brand'
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to viewer_url(@multimap) do
              %i.fa.fa-eye
              Preview
          - if can? :edit, @organization
            %li
              = link_to edit_organization_multimap_path(@organization, @multimap) do
                %i.fa.fa-edit.text-primary
                Settings
          - if can? :delete, @organization
            %li
              = link_to [@organization, @multimap], method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-trash-o.text-danger
                Delete

        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to available_organization_multimap_path(@organization, @multimap) do
              %i.fa.fa-plus.text-success
              Add Map
  .panel-body
    %p
      %strong Permalink:
      = link_to viewer_url(@multimap), viewer_url(@multimap)
    - if @multimap.description.present?
      %p
        %strong Description:
        = @multimap.description
    %p
      %strong Active:
      = @multimap.active ? 'Yes' : 'No'

- if @multimap.multimap_maps.any?
  .panel.panel-default
    .panel-heading
      %h1.panel-title Maps
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Layers
          %th.text-right Actions
      %tbody
        - @multimap.multimap_maps.find_each do |mmm|
          %tr
            %td= mmm.map.title
            %td= mmm.map.geojson_layers.count + mmm.map.wms_layers.count
            %td.text-right
              .btn-group
                = link_to activate_organization_multimap_path(@organization, mmm.multimap, map: mmm.map), method: :patch, class: "btn btn-sm btn-default #{mmm.active ? 'active' : ''}" do
                  - if mmm.active?
                    Layers active
                  - else
                    Layers hidden
              .btn-group
                = link_to viewer_url(mmm.map), class: 'btn btn-sm btn-default' do
                  %i.fa.fa-trash
                  Preview
                = link_to [@organization, mmm.map], class: 'btn btn-sm btn-primary' do
                  %i.fa.fa-edit
                  Manage
                = link_to remove_organization_multimap_path(@organization, mmm.multimap, map: mmm.map), method: :patch, class: 'btn btn-sm btn-danger' do
                  %i.fa.fa-times
                  Remove
