.row
  .col-sm-3
    = link_to edit_multimap_path(@multimap), class: 'btn btn-default btn-block' do
      %i.fa.fa-edit
      Edit
    = link_to @multimap, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' do
      %i.fa.fa-trash-o
      Delete
    = link_to multimaps_path, class: 'btn btn-default btn-block' do
      %i.fa.fa-arrow-left
      Back

    %hr

    = link_to add_multimap_path(@multimap), remote: true, class: 'btn btn-success btn-block' do
      %i.fa.fa-plus
      Add Map

  .col-sm-9
    .panel.panel-default
      .panel-heading
        %h1.panel-title= @multimap.name
      .panel-body
        %p
          %strong Description:
          = @multimap.description
        %p
          %strong Active:
          = @multimap.active ? 'Yes' : 'No'
