= simple_form_for([@organization, @map]) do |f|
  = f.input :title, class: 'form-control'
  = f.input :active

  .actions
    = link_to [@organization, @map], class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel
    = f.submit 'Save', class: 'btn btn-primary pull-right'
