%table.table.table-condensed.table-stripped
  %thead
    %tr
      %th Name
      %th Permalink
      %th.col-sm-1 # Layers
      %th.text-right Active
      %th
  %tbody
    - maps.each do |map|
      %tr
        %td= map.title
        %td= link_to viewer_url(map), viewer_url(map)
        %td= map.map_layers.count
        %td.text-right
          = map.active? ? 'Yes' : 'No'
        %td.text-right
          .btn-group
            = link_to viewer_url(map), class: 'btn btn-default' do
              %i.fa.fa-eye
              Preview
            = link_to [@organization, map], class: 'btn btn-primary' do
              Manage
              %i.fa.fa-arrow-right
