- content_for :side_menu do
  = link_to @organization, class: 'btn btn-default btn-block' do
    %i.fa.fa-arrow-left
    Back

  = link_to viewer_url(@map), class: 'btn btn-default btn-block' do
    %i.fa.fa-eye.fa-fw
    Preview

  - if can? :edit, @map
    = link_to edit_organization_map_path(@organization, @map), class: 'btn btn-primary btn-block' do
      %i.fa.fa-gear.fa-fw
      Settings

  - if can? :delete, @map
    = link_to [@organization, @map], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' do
      %i.fa.fa-trash.fa-fw
      Delete

  %hr

  - if can? :edit, @map
    = link_to 'Add GeoJSON Layer', [:available_geojson, @organization, @map], class: 'btn btn-success btn-block'
    = link_to 'Add WMS Layer', [:available_wms, @organization, @map], class: 'btn btn-success btn-block'


.panel.panel-default
  .panel-heading
    %h1.panel-title
      Map: #{@map.title}
  .panel-body
    %p
      %strong URL:
      = link_to viewer_url(@map), viewer_url(@map)
    %p
      %strong Active:
      = @map.active

.panel.panel-default
  .panel-heading
    %h1.panel-title Layers
  %table.table.table-striped
    %tr
      %th Layer Type
      %th Legend
      %th.text-right Actions
    - @map.geojson_layers.each do |layer|
      %tr
        %td GeoJSON
        %td
          = render layer, activate: true
        %td.text-right
          .btn-group
            = link_to 'Manage', [:edit, @organization, layer], class: 'btn btn-primary'
            = link_to 'Remove', [:remove_geojson, @organization, @map, layer: layer], method: :patch, class: 'btn btn-danger'

    - @map.wms_layers.each do |layer|
      %tr
        %td WMS
        %td
          = render layer, activate: true
        %td.text-right
          .btn-group
            = link_to 'Manage', [:edit, @organization, layer], class: 'btn btn-primary'
            = link_to 'Remove', [:remove_wms, @organization, @map, layer: layer], method: :patch, class: 'btn btn-danger'
