= form_for([@organization, @wms_layer], html: { id: dom_id(@wms_layer, 'form'), class: 'tab-content', data: { map: "reload" } }) do |f|
  - if @wms_layer.errors.any?
    #error_explanation
      %h2
        = pluralize(@wms_layer.errors.count, "error")
        prohibited this wms_layer from being saved:
      %ul
        - @wms_layer.errors.full_messages.each do |message|
          %li= message
  #wms_layer-summary.tab-pane.active
    = render 'summary_fields', f: f
  #wms_layer-data.tab-pane
    = render 'data_fields', f: f
  #wms_layer-legend.tab-pane
    = render 'legend_fields', f: f
  #wms_layer-options.tab-pane
    = render 'option_fields', f: f
