#map_container
  #map

#layer_container.panel.panel-default
  .panel-body
    = render @wms_layer

#wms_layer_editor_container.layer_editor_container.panel.panel-default
  .panel-body
    %ul.nav.nav-tabs
      %li.active
        = link_to 'Summary', '#wms_layer-summary', data: { toggle: 'tab' }
      %li
        = link_to 'Data', '#wms_layer-data', data: { toggle: 'tab' }
      %li
        = link_to 'Legend', '#wms_layer-legend', data: { toggle: 'tab' }
      %li
        = link_to 'Options', '#wms_layer-options', data: { toggle: 'tab' }

    .tabbed-form
      = render 'form'
  .panel-footer
    .btn-group.layer-btns.btn-block
      = link_to 'Close', wms_layers_path, class: 'btn col-lg-6 col-md-6 col-sm-6 btn-default'
      %a.btn.btn-primary.col-lg-6.col-md-6.col-sm-6{ data: { behavior: 'save-form', target: "##{dom_id(@wms_layer, 'form')}" }}
        Save
