- content_for :side_menu do
  = link_to @wms_layer.organization, class: 'btn btn-default btn-block' do
    %i.fa.fa-arrow-left
    Back
  = link_to edit_organization_wms_layer_path(@organization, @wms_layer), class: 'btn btn-primary' do
    %i.fa.fa-edit
    Edit

%p
  %strong Url:
  = @wms_layer.url
%p
  %strong Layers:
  = @wms_layer.layers
%p
  %strong Legend:
  = @wms_layer.legend
%p
  %strong Active:
  = @wms_layer.active
%p
  %strong Options:
  = @wms_layer.options
%p
  %strong Description:
  = @wms_layer.description
%p
  %strong Name:
  = @wms_layer.name
