.form-group
  = f.label :file_filename, 'Current file: '
  = f.object.file_filename

.form-group
  = f.label :fields, 'Attribute fields: '
  = f.object.fields.try(:join,', ')

.form-group
  = f.label :file, 'Upload new file'
  = f.attachment_field :file, direct: true, presigned: true
