= form_for(@geojson_layer, remote: true, html: { id: dom_id(@geojson_layer, 'form'), class: 'tab-content', data: { map: "reload" } }) do |f|
  - if @geojson_layer.errors.any?
    #error_explanation
      %h2
        = pluralize(@geojson_layer.errors.count, "error")
        prohibited this geojson_layer from being saved:
      %ul
        - @geojson_layer.errors.full_messages.each do |msg|
          %li= msg
  #geojson_layer-summary.tab-pane.active.geojson_layer-definition{ data: { layer: @geojson_layer.leaflet_params.to_json } }
    = render 'summary_fields', f: f
  #geojson_layer-data.tab-pane
    = render 'data_fields', f: f
  #geojson_layer-style.tab-pane
    = render 'style_fields', f: f
  #geojson_layer-legend.tab-pane
    = render 'legend_fields', f: f
  #geojson_layer-popup.tab-pane
    = render 'popup_fields', f: f
  #geojson_layer-options.tab-pane
    = render 'option_fields', f: f