.geojson_layer{ id: geojson_layer.slug }
  .layer-legend
    = check_box_tag '', 'on', activate, data: { toggle: 'layer' }, class: "activate #{geojson_layer.options['toggle'] != 'yes' ? 'invisible' : ''}", style: 'margin-right: 10px;'

    - if geojson_layer.legend.present?
      = Mustache.render(geojson_layer.legend, geojson_layer.style).html_safe
    - else
      %i{ class: marker_css(geojson_layer.style), style: "color: #{geojson_layer.style['marker-color']}" }
      = geojson_layer.name
  .layer-description
    = geojson_layer.description
