.geojson_layer{ id: wms_layer.slug }
  - if geojson_layer.legend.present?
    = Mustache.render(geojson_layer.legend, geojson_layer.style).html_safe
  - else
    %p
      %i.fa{ class: "fa-#{geojson_layer.style['marker-symbol']}", style: "color: #{geojson_layer.style['marker-color']}" }
      = geojson_layer.name
    = geojson_layer.description