#map_container
  #map

#geojson_layer_editor_container.layer_editor_container.panel.panel-default
  .panel-body
    %ul.nav.nav-tabs
      %li.active
        = link_to 'Summary', '#geojson_layer-summary', data: { toggle: 'tab' }
      %li
        = link_to 'Data', '#geojson_layer-data', data: { toggle: 'tab' }
      %li
        = link_to 'Style', '#geojson_layer-style', data: { toggle: 'tab' }
      %li
        = link_to 'Legend', '#geojson_layer-legend', data: { toggle: 'tab' }
      %li
        = link_to 'Popup', '#geojson_layer-popup', data: { toggle: 'tab' }
      %li
        = link_to 'Options', '#geojson_layer-options', data: { toggle: 'tab' }

    .tabbed-form
      = render 'form'
  .panel-footer
    .btn-group.layer-btns.btn-block
      = link_to 'Close', organization_path(@geojson_layer.organization), class: 'btn col-lg-6 col-md-6 col-sm-6 btn-default'
      %a.btn.btn-primary.col-lg-6.col-md-6.col-sm-6{ data: { behavior: 'save-form', target: "##{dom_id(@geojson_layer, 'form')}" }}
        Save
