#map_container
  #map

%p#notice= notice

#geojson_layer_editor_container.panel.panel-default
  .panel-body
    %ul.nav.nav-tabs
      %li.active
        = link_to 'Summary', '#geojson_layer-summary', data: { toggle: 'tab' }
      %li
        = link_to 'Data', '#geojson_layer-data', data: { toggle: 'tab' }
      %li
        = link_to 'Style', '#geojson_layer-style', data: { toggle: 'tab' }
      %li
        = link_to 'Popup', '#geojson_layer-popup', data: { toggle: 'tab' }
      %li
        = link_to 'Options', '#geojson_layer-options', data: { toggle: 'tab' }
      %li
        %a.btn.btn-primary{ data: { behavior: 'save-form', target: "##{dom_id(@geojson_layer, 'form')}" }}
          Save
    = form_for(@geojson_layer, html: { id: dom_id(@geojson_layer, 'form'), class: 'tab-content' }) do |f|
      - if @geojson_layer.errors.any?
        #error_explanation
          %h2
            = pluralize(@geojson_layer.errors.count, "error")
            prohibited this geojson_layer from being saved:
          %ul
            - @geojson_layer.errors.full_messages.each do |msg|
              %li= msg
      #geojson_layer-summary.tab-pane.active.geojson_layer-definition{ data: @geojson_layer.leaflet_params }
        = render 'summary_fields', f: f
      #geojson_layer-data.tab-pane
        = render 'data_fields', f: f
      #geojson_layer-style.tab-pane
        = render 'style_fields', f: f
      #geojson_layer-popup.tab-pane
        = render 'popup_fields', f: f
      #geojson_layer-options.tab-pane
        = render 'option_fields', f: f
