= simple_nested_form_for(@organization) do |f|
  = f.input :name
  = f.input :description

  = link_to :back, class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Cancel
  .pull-right
    = f.button :submit, class: 'btn btn-primary'
