- content_for :side_menu do
  %p
    %strong Maps
    %br/
    Add layers to maps to create custom presentations

  %p
    %strong Grouped Maps
    %br/
    Combine multiple maps into a single interface
    %br/
    %br/
    The layers on each map can be toggled on or off and allows users to create custom presentations for many different layers

%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar' }}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Maps', @organization, class: 'navbar-brand'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to new_organization_multimap_path(@organization) do
            %i.fa.fa-plus.text-success
            New Grouped Map
        %li
          = link_to new_organization_map_path(@organization) do
            %i.fa.fa-plus.text-success
            New Map
- if @organization.multimaps.any?
  .panel.panel-default
    .panel-heading
      %h1.panel-title Grouped Maps
    = render 'multimaps/list', multimaps: @organization.multimaps

- if @organization.maps.any?
  .panel.panel-default
    .panel-heading
      %h1.panel-title Maps
    = render 'maps/list', maps: @organization.maps
