- content_for :side_menu do
  = link_to 'New Organization', new_organization_path, class: 'btn btn-success btn-block'

- content_for :breadcrumb do
  %li.active
    List

.panel.panel-default
  .panel-heading
    %h1.panel-title Organizations
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Users
        %th Description
        %th
    %tbody
      - @organizations.find_each do |org|
        %tr
          %td= org.name
          %td= org.users.count
          %td= org.description
          %td.text-right
            = link_to organization_path(org), class: 'btn btn-primary' do
              Manage
              %i.fa.fa-arrow-right
