- content_for :breadcrumb do
  %li.active
    List

.panel.panel-default
  %nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar' }}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Organizations', root_url, class: 'navbar-brand'
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - if can? :manage, Organization
            %li
              = link_to new_organization_path do
                %i.fa.fa-plus
                New Organization
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Users
        %th Description
        %th
    %tbody
      - @organizations.find_each do |org|
        %tr
          %td= org.name
          %td= org.users.count
          %td= org.description
          %td.text-right
            = link_to organization_path(org), class: 'btn btn-primary' do
              Manage
              %i.fa.fa-arrow-right
