- content_for :side_menu do
  = link_to 'Organizations List', organizations_path, class: 'btn btn-default btn-block'
  %hr
  = link_to 'New GeoJSON Layer', new_organization_geojson_layer_path(@organization), class: 'btn btn-success btn-block'


.panel.panel-default
  .panel-heading
    %h1.panel-title= "Organization #{@organization.name}"
  .panel-body
    %h1 Users
    %ul
      - @organization.organizations_users.find_each do |user|
        %li
          = user
          - if can? :manage, @organization
            = link_to 'Remove', organization_user_path(@organization, user), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

.panel.panel-default
  .panel-heading
    %h1.panel-title GeoJSON layers
  = render 'geojson_layers/list', geojson_layers: @organization.geojson_layers
