%ul.nav.nav-tabs
  %li.active
    = link_to '#general', data: { toggle: 'tab' } do
      Organization Information
  %li
    = link_to '#maps', data: { toggle: 'tab' } do
      Map
  %li
    = link_to '#layers', data: { toggle: 'tab' } do
      Layers

.tab-content
  #general.tab-pane.active
    = render 'general'
  #maps.tab-pane
    = render 'maps'
  #layers.tab-pane
    = render 'layers'
