!!!
%html
  %head
    = render 'layouts/title'
    = stylesheet_link_tag    "https://api.tiles.mapbox.com/mapbox.js/v3.0.1/mapbox.css", media: "all", "data-turbolinks-track" => 'reload'
    = javascript_include_tag "https://api.tiles.mapbox.com/mapbox.js/v3.0.1/mapbox.js", "data-turbolinks-track" => 'reload'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => 'reload'
    = javascript_include_tag "application", "data-turbolinks-track" => 'reload'
    = csrf_meta_tags
  %body.with_header
    = render 'layouts/spinner'

    %section.header
      = render 'layouts/header'

    .content
      = yield
