!!!
%html
  %head
    %title GenericMap
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body.with_header
    = render 'layouts/spinner'
    
    %section.header
      = render 'layouts/header'
    
    .container
      = yield
